.App {
  text-align: center;
  display: flex;
  // height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 411px;
  max-width: 411px;
  min-height: 731px;
  max-height: 731px;
}
