.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 381px;
  max-width: 381px;
  min-height: 679px;
  max-height: 679px;
  border: solid 1px #9f9f9f;
}
