.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .sortMenu {
        position: absolute;
        top: 3%;
        right: 3%;
    }

    .fixedButton {
        position: fixed;
        right: 5%;
        bottom: 3%;
    }

    .notes {
        width: 100%;
    }
}
