.NotePage {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 381px;
  max-width: 381px;
  min-height: 679px;
  max-height: 679px;
  position: relative;
}

body,
html,
#root {
  height: 100%;
}

.note-form {
  min-width: 381px;
  max-width: 381px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20%;
  margin-left: 12%;
}

li {
  text-align: initial;
  min-width: 381px;
  max-width: 381px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.BottomNav {
  position: absolute;
  bottom: 0px;
}