.body {
    .sortMenu {
        position: absolute;
        top: 3%;
        right: 3%;
    }

    .fixedButton {
        position: fixed;
        right: 5%;
        bottom: 3%;
    }

    .notes {
        
    }
}
